<div id="{{ carousel_id }}" class="carousel slide {{ classes }}" data-bs-ride="carousel"{% for attribute, value in attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
  {% if indicators %}
    <ol class="carousel-indicators">
      {% for i in 0..items|length - 1 %}
        <li data-bs-target="#{{ carousel_id }}" data-bs-slide-to="{{ i }}" class="{{ i == 0 ? 'active' : '' }}"></li>
      {% endfor %}
    </ol>
  {% endif %}
  
  <div class="carousel-inner">
    {% for item in items %}
      {% set html_content = item.html_content %}
      <div class="carousel-item {{ loop.first ? 'active' : '' }}" {% if carousel_height %}style="height:{{ carousel_height }}px"{% endif %}>
        <img src="{{ item.image }}" class="d-block w-100{% if carousel_height %} object-fit-cover h-100{% endif %}" alt="{{ item.alt }}">
        {% if item.caption or item.subcaption or html_content %}

          <div class="carousel-caption d-none d-md-block">

            {% block html_content %}
              {{ html_content }}
            {% endblock %}

            {% if item.caption %}
              <h5 data-cue="slideInUp" data-duration="1800">{{ item.caption }}</h5>
            {% endif %}
            {% if item.subcaption %}
              <p data-cue="slideInUp" data-duration="1800">{{ item.subcaption }}</p>
            {% endif %}

          </div>

        {% endif %}
      </div>
    {% endfor %}
  </div>
  
  {% if controls %}
    <a class="carousel-control-prev" href="#{{ carousel_id }}" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#{{ carousel_id }}" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  {% endif %}
</div>
