{% set target = target ? target : '_self' %}
{% set element = button ? 'btn' : 'link' %}
{% set button_size = (button_size == "default") ? null : button_size %}
{% set outline = outline ? '-outline' : null %}

<a
  href="{{ link_url }}" 
  class="
    mb-3
    {{ element }} 
    {{ button_size ? 'btn-' ~ button_size }}
    {{ type ? element ~ outline ~ '-' ~ type : element ~ outline ~ '-primary' }}
    {{ disabled ? 'disabled' : null }}
    {% if link_classes|length > 0 %} {{ link_classes|join(' ') }}{% endif %}
  " 
  title="{{ link_title}}"
  target="{{ target }}"
  {{ disabled ? 'aria-disabled="true"' : null }}
  >
    {{- label -}}
</a>

