{% set target = target ? target : '_self' %}
{% set element = button ? 'btn' : 'link' %}
{% set button_size = (button_size == "default") ? null : button_size %}

<a
  href="{{ link_url }}" 
  class="
    {{ element }} 
    {{ button_size ? 'btn-' ~ button_size }}
    {{ type ? element ~ '-' ~ type : element ~ '-primary' }}
    {{ disabled ? 'disabled' : null }}
  " 
  title="{{ link_title}}"
  target="{{ target }}"
  {{ disabled ? 'aria-disabled="true"' : null }}
  >
    {{- label -}}
</a>

