<div class="display-{{ display_heading_level }}{% if display_heading_classes|length > 0 %} {{ display_heading_classes|join(' ') }}{% endif %}"{% for attribute, value in display_heading_attributes %} {{ attribute }}="{{ value }}"{% endfor %}>{{ text }}</div>
