{# section.twig #}

{% set background_image = background_image ? ' style="background-image:url(\'' ~ background_image ~'\')" ' : null %}

<section class="{% if classes|length > 0 %} {{ classes|join(' ') }}{% endif %}" {{ background_image }}{% for attribute, value in section_attributes %} {{ attribute }}="{{ value }}"{% endfor %}>

  <div class="container">
  {% if heading %}
    <div class="row mb-3">
      <div class="col">
        {{ heading }}
      </div>
    </div>
  {% endif %}
    <div class="row">
      {{ content }}
    </div>
  </div>

</section>
